.img {
  width: 323px;
  height: 280px;
}

.card {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 323px;
  align-items: center;
}

.title {
  color: white;
}
.text {
  color: white;
}
