* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #201a1a;
}

.tovar {
  color: white;
  text-align: center;
  padding-top: 30px;
}

.itemBlock {
  margin: 0 auto;
  /* background-color: red; */
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
